* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Reset containers */
body,
html{
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: 'Walter Turncoat', arial;
}

#header {
  font-family: Georgia;
  width: 100%;
  max-width: 900px;
  margin: 5px auto 0 auto;
  position: relative;

}

h1 {
  /*font-family: times;*/
  font-family: Georgia;
  /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
  font-weight: 600;
  text-align: center;
  margin-bottom: 0px;
  color: #556B2f;
}

h3 {
  font-family: Georgia;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 18px;
  color: #556B2f;
  font-style: italic;
}

a {
  color: #556B2F;
}

table {
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em 0;
  position: relative;
}

th, td {
  font-family: 'Walter Turncoat', arial;
  font-weight: bold;
  font-size: 18px;
  border-top: 3px #556B2F solid;
  border-right: 3px #556B2F solid;
  padding: 4px;
  margin: 0;
}

tr:nth-child(2) td {
  border-top: 3px black solid;
}

th {
  height: 40px;
  transition: height 2s;
  -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
}

th input {
  transition: 2s;
  -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
}

th.rotated {
  height: 100px;
}

th.rotated input {
  width: 100%;
  font-size: 14px;
  /*letter-spacing: -1px;*/
  transform:rotate(-55deg);
  -ms-transform:rotate(-55deg); /* IE 9 */
  -webkit-transform:rotate(-55deg); /* Opera, Chrome, and Safari */
}

td:first-child, th:first-child {
  width: 200px;
  border-left: 3px #556B2F solid;
}

tr:last-child td {
  border-bottom: 3px #556B2F solid;
}

td.total {
  text-align: right;
  border-top: 3px black solid;
}

#label {
  text-align: left;
}

*:focus {
    outline: 0;
}

input[type=text] {
  font-family: 'Walter Turncoat', arial;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  width: 100%;
  border: 0;
}