* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Reset containers */
body,
html{
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: 'Walter Turncoat', arial;
}

#header {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;

}

h1 {
  text-align: center;
}

table {
  width: 100%;
  /*max-width: 900px;*/
  margin: 0 auto;
  padding: 1em 1em 0;
  position: relative;
}

th, td {
  font-family: 'Walter Turncoat', arial;
  font-weight: bold;
  font-size: 18px;
  border-top: 3px #7DA193 solid;
  border-right: 3px #7DA193 solid;
  padding: 4px;
  margin: 0;
}

td:first-child, th:first-child {
  width: 200px;
  border-left: 3px #7DA193 solid;
}

td.total {
  text-align: right;
  border-top: 3px black solid;
}

#label {
  text-align: left;
}

*:focus {
    outline: 0;
}

input[type=text] {
  font-family: 'Walter Turncoat', arial;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  width: 100%;
  border: 0;
}